@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: #1E201E;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
